[submodule "tools/luvdis"]
	path = tools/luvdis
	url = https://github.com/aarant/luvdis.git
[submodule "tools/agbcc"]
	path = tools/agbcc
	url = https://github.com/Dream-Atelier/agbcc.git
[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c.git
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/WhenGryphonsFly/decomp-permuter-agbcc.git
[submodule "tools/tmc"]
	path = tools/tmc
	url = https://github.com/zeldaret/tmc.git
